body {
  background-color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: Helvetica, Arial;
  transition: background-color .25s linear;
}

body.offline {
  background-color: rgba(0, 0, 0, .2);
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark form {
  background-color: #ffffff;
}

body.dark button {
  background-color: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input, textarea {
  border: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  display: block;
  min-height: 45px;
}

#msg {
  height: 100px;
}

.msg-area {
  float: left;
}

.date {
  float: right;
  margin-top: 10px;
}

.message {
  clear: both;
  display: block;
}

#messages li:nth-child(odd) {
  background: #eee;
}
