@keyframes pulse {
  from { background-color: #337ab7; }

  to { background-color: #2e6da4; }
}

.btn-location {
  animation: pulse infinite 2s running;

  &:hover {
    animation-play-state: paused;
    font-weight: 700;
  }
}
