<div
  ng-include
  src="'views/templates/header.tmpl.html'">
</div>

<section class="about col-xs-12 col-sm-6 col-sm-offset-3">
  <h2>Chat App</h2>

  <a href="#/chat" class="btn btn-info">
    ir para o chat
  </a>

  <hr>

  <article class="box">
    <h4>Recursos</h4>

    <aside>
      <span>web apis</span>

      <ul class="list">
        <li>Navigator Online</li>
        <li>Ambient Light Events</li>
      </ul>
    </aside>

    <aside>
      <span>assets</span>

      <ul class="list">
        <li>Socket.io</li>
        <li>Firebase</li>
        <li>Express</li>
      </ul>
    </aside>
  </article>

  <article class="box">
    <h4>Instalação</h4>
    <p>Antes de prosseguir com a instalação, certifique-se de que você tenha essas dependências instaladas na sua máquina:</p>

    <aside>
      <ul class="list">
        <li>Nodejs</li>
        <li>Bower</li>
        <li>Grunt</li>
      </ul>
    </aside>

    <p>Execute comandos nas duas pastas <b>client</b> e <b>server</b>.</p>

    <aside>
      <span>client</span>

      <div class="code">
        $ npm install <br>
        $ bower install --save <br>
        $ grunt serve <br>
      </div>
    </aside>

    <aside>
      <span>server</span>

      <div class="code">
        $ npm install <br>
        $ node index.js
      </div>
    </aside>
  </article>

  <article class="box">
    <h4>Suporte</h4>
    <p>A aplicação deverá funcionar nos seguintes navegadores:</p>

    <aside>
      <ul class="list">
        <li>
          <p>Google Chrome 53+</p>
        </li>

        <li>
          <p>Microsoft Edge x</p>
        </li>

        <li>
          <p>Firefox 49+</p>
        </li>

        <li>
          <p>Internet Explorer x</p>
        </li>

        <li>
          <p>Opera 40+</p>
        </li>

        <li>
          <p>Safari 10+</p>
        </li>
      </ul>
    </aside>
  </article>

  <article class="box">
    <h4>License</h4>
    <p>
      <a href="#">MIT License</a>
      © Thulio Philipe
    </p>
  </article>
</section>

<!-- Fork button -->
<div
  ng-include
  src="'views/templates/fork-button.tmpl.html'">
</div>
