<!-- Feeds -->
<div
  ng-include
  src="'views/templates/feeds.tmpl.html'">
</div>

<!-- Form -->
<aside ng-if="!guest">
  <form class="form-area">
    <fieldset class="form-group">
      <label for="msg">Mensagem</label>

      <textarea
        class="form-control" rows="3"
        id="msg" ng-model="vm.message">
      </textarea>
    </fieldset>

    <button
      class="btn btn-primary"
      ng-click="vm.submitForm()">

      Enviar
    </button>

    <button
      class="btn btn-danger"
      ng-click="vm.logout()">

      Sair
    </button>
  </form>
</aside>
